In [3]:
# 讀取 Adult 資料集，並以 pandas DataFrame 儲存
import pandas as pd

data = pd.read_csv("adult.data.csv")

In [4]:
# 看看資料有幾筆、幾個欄位
data.shape

(32561, 15)

In [5]:
# 設定欄位名稱
columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
    'hours-per-week', 'native-country', 'calss'
]
data.columns = columns

In [6]:
# 計算重複筆數
data.duplicated().sum()

np.int64(24)

In [7]:
data.index.has_duplicates
data.columns.has_duplicates
data.index.duplicated()
data.columns.duplicated()
dup_index_vals = data.index[data.index.duplicated()].unique()
dup_col_vals   = data.columns[data.columns.duplicated()].unique()
print("重複索引：", dup_index_vals.tolist())
print("重複欄名：", dup_col_vals.tolist())
data.index.value_counts()[lambda s: s > 1]
data.columns.value_counts()[lambda s: s > 1]

重複索引： []
重複欄名： []

Series([], Name: count, dtype: int64)

In [8]:
# 列出五筆
data.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,calss
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
# 去除所有字串欄位前後的空白
data = data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [10]:
# 將多重空白合併為單一空白，並再次清理字串空白
data = data.apply(
    lambda x: x.str.replace(r'\s+', ' ', regex=True).str.strip() if x.dtype == "object" else x
)

In [18]:
# 指定數值欄位並轉換成數值型態，無法轉換的值設為 NaN
numeric_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
data[numeric_cols] = data[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [31]:
# 重新讀取原始 CSV（無標題列），取得欄位數與欄位索引
df_raw = pd.read_csv(CSV, header=None, na_filter=False, dtype=str)
ncol = df_raw.shape[1]
all_cols = list(range(ncol))
CSV = "adult.data.csv"
import numpy as np
all_cols = list(range(df_raw.shape[1]))
# 找出所有完全重複的資料列，建立重複群組編號
vc = df_raw.value_counts().reset_index(name="count")
dups = vc[vc["count"] > 1].copy()
dups["group_id"] = np.arange(1, len(dups) + 1)

# 將重複群組與原資料對應，產出每組重複資料的索引
dup_groups_members = (
    df_raw.reset_index(names="row_index")
          .merge(dups, on=all_cols, how="inner")
          .sort_values(["group_id", "row_index"], kind="mergesort")
)

# 彙整每個重複群組的大小與對應索引
dup_groups_summary = (
    dup_groups_members
    .groupby("group_id", as_index=False)
    .agg(
        group_size=("row_index", "size"),
        indices=("row_index", lambda s: list(s))
    )
)
# 統計重複資料筆數、群組數與重複總數
n_dup_all = int(dup_groups_members.shape[0])
n_dup_excess = int(df_raw.duplicated(keep='first').sum())
n_groups = int(dup_groups_summary.shape[0])
sum_group_sizes = int(dup_groups_summary["group_size"].sum())

print("A) 重複列（群內所有列皆計） n_dup_all =", n_dup_all)
print("B) 多出來的列（每組 k 計 k-1） n_dup_excess =", n_dup_excess)
print("C) 重複群組數 n_groups =", n_groups)
print("C') 各組 group_size 加總 =", sum_group_sizes, "(應等於 A)")
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 160)

# 輸出每組重複資料的詳細內容（顯示重複的列）
for gid, sub in dup_groups_members.groupby("group_id", sort=True):
    idxs = sub["row_index"].tolist()
    print(f"\n=== Group {gid} | size={len(sub)} | indices={idxs} ===")
    # 列出該組的每一列（移除 group_id 欄，保留原始各欄與 row_index）
    print(sub.drop(columns=["group_id"]).to_string(index=False))

A) 重複列（群內所有列皆計） n_dup_all = 47
B) 多出來的列（每組 k 計 k-1） n_dup_excess = 24
C) 重複群組數 n_groups = 23
C') 各組 group_size 加總 = 47 (應等於 A)

=== Group 1 | size=3 | indices=[5843, 13085, 22301] ===
 row_index  0        1      2        3 4              5                6              7      8       9 10 11 12         13     14  count
      5843 25  Private 195994  1st-4th 2  Never-married  Priv-house-serv  Not-in-family  White  Female  0  0 40  Guatemala  <=50K      3
     13085 25  Private 195994  1st-4th 2  Never-married  Priv-house-serv  Not-in-family  White  Female  0  0 40  Guatemala  <=50K      3
     22301 25  Private 195994  1st-4th 2  Never-married  Priv-house-serv  Not-in-family  White  Female  0  0 40  Guatemala  <=50K      3

=== Group 2 | size=2 | indices=[17674, 18699] ===
 row_index  0        1     2        3 4              5                6              7      8     9 10 11 12             13     14  count
     17674 19  Private 97261  HS-grad 9  Never-married  Farming-fishing  Not-in-family  White  Male  0  0 40  United-States  <=50K      2
     18699 19  Private 97261  HS-grad 9  Never-married  Farming-fishing  Not-in-family  White  Male  0  0 40  United-States  <=50K      2

=== Group 3 | size=2 | indices=[15190, 21491] ===
 row_index  0        1      2             3  4              5                6          7      8     9 10 11 12             13     14  count
     15190 19  Private 146679  Some-college 10  Never-married  Exec-managerial  Own-child  Black  Male  0  0 30  United-States  <=50K      2
     21491 19  Private 146679  Some-college 10  Never-married  Exec-managerial  Own-child  Black  Male  0  0 30  United-States  <=50K      2

=== Group 4 | size=2 | indices=[6991, 21319] ===
 row_index  0        1      2             3  4              5             6          7      8       9 10 11 12             13     14  count
      6991 19  Private 138153  Some-college 10  Never-married  Adm-clerical  Own-child  White  Female  0  0 10  United-States  <=50K      2
     21319 19  Private 138153  Some-college 10  Never-married  Adm-clerical  Own-child  White  Female  0  0 10  United-States  <=50K      2

=== Group 5 | size=2 | indices=[4326, 4882] ===
 row_index  0        1      2          3  4              5             6              7      8     9 10 11 12      13     14  count
      4326 25  Private 308144  Bachelors 13  Never-married  Craft-repair  Not-in-family  White  Male  0  0 40  Mexico  <=50K      2
      4882 25  Private 308144  Bachelors 13  Never-married  Craft-repair  Not-in-family  White  Male  0  0 40  Mexico  <=50K      2

=== Group 6 | size=2 | indices=[5580, 28231] ===
 row_index  0        1      2        3 4              5                  6              7      8       9 10 11 12             13     14  count
      5580 27  Private 255582  HS-grad 9  Never-married  Machine-op-inspct  Not-in-family  White  Female  0  0 40  United-States  <=50K      2
     28231 27  Private 255582  HS-grad 9  Never-married  Machine-op-inspct  Not-in-family  White  Female  0  0 40  United-States  <=50K      2

=== Group 7 | size=2 | indices=[21104, 25873] ===
 row_index  0        1      2        3 4              5                  6              7      8     9 10 11 12      13     14  count
     21104 23  Private 240137  5th-6th 3  Never-married  Handlers-cleaners  Not-in-family  White  Male  0  0 55  Mexico  <=50K      2
     25873 23  Private 240137  5th-6th 3  Never-married  Handlers-cleaners  Not-in-family  White  Male  0  0 55  Mexico  <=50K      2

=== Group 8 | size=2 | indices=[16847, 32405] ===
 row_index  0        1      2        3 4         5              6              7      8       9 10 11 12             13     14  count
     16847 35  Private 379959  HS-grad 9  Divorced  Other-service  Not-in-family  White  Female  0  0 40  United-States  <=50K      2
     32405 35  Private 379959  HS-grad 9  Divorced  Other-service  Not-in-family  White  Female  0  0 40  United-States  <=50K      2

=== Group 9 | size=2 | indices=[8081, 15060] ===
 row_index  0        1      2          3 4              5                6              7      8     9 10 11 12      13     14  count
      8081 21  Private 243368  Preschool 1  Never-married  Farming-fishing  Not-in-family  White  Male  0  0 50  Mexico  <=50K      2
     15060 21  Private 243368  Preschool 1  Never-married  Farming-fishing  Not-in-family  White  Male  0  0 50  Mexico  <=50K      2

=== Group 10 | size=2 | indices=[3918, 31994] ===
 row_index  0        1      2             3  4              5              6          7      8     9 10 11 12             13     14  count
      3918 19  Private 251579  Some-college 10  Never-married  Other-service  Own-child  White  Male  0  0 14  United-States  <=50K      2
     31994 19  Private 251579  Some-college 10  Never-married  Other-service  Own-child  White  Male  0  0 14  United-States  <=50K      2

=== Group 11 | size=2 | indices=[8680, 26314] ===
 row_index  0        1      2        3  4              5               6              7      8     9 10 11 12             13     14  count
      8680 28  Private 274679  Masters 14  Never-married  Prof-specialty  Not-in-family  White  Male  0  0 50  United-States  <=50K      2
     26314 28  Private 274679  Masters 14  Never-married  Prof-specialty  Not-in-family  White  Male  0  0 50  United-States  <=50K      2

=== Group 12 | size=2 | indices=[4768, 9172] ===
 row_index  0        1      2             3  4              5               6          7      8       9 10 11 12             13     14  count
      4768 21  Private 250051  Some-college 10  Never-married  Prof-specialty  Own-child  White  Female  0  0 10  United-States  <=50K      2
      9172 21  Private 250051  Some-college 10  Never-married  Prof-specialty  Own-child  White  Female  0  0 10  United-States  <=50K      2

=== Group 13 | size=2 | indices=[5806, 11632] ===
 row_index  0        1      2             3  4              5             6              7      8       9 10 11 12             13     14  count
      5806 20  Private 107658  Some-college 10  Never-married  Tech-support  Not-in-family  White  Female  0  0 10  United-States  <=50K      2
     11632 20  Private 107658  Some-college 10  Never-married  Tech-support  Not-in-family  White  Female  0  0 10  United-States  <=50K      2

=== Group 14 | size=2 | indices=[16976, 18556] ===
 row_index  0        1      2        3 4              5              6              7      8     9 10 11 12 13     14  count
     16976 30  Private 144593  HS-grad 9  Never-married  Other-service  Not-in-family  Black  Male  0  0 40  ?  <=50K      2
     18556 30  Private 144593  HS-grad 9  Never-married  Other-service  Not-in-family  Black  Male  0  0 40  ?  <=50K      2

=== Group 15 | size=2 | indices=[4941, 29158] ===
 row_index  0        1      2        3 4                   5                  6        7      8     9 10 11 12             13    14  count
      4941 38  Private 207202  HS-grad 9  Married-civ-spouse  Machine-op-inspct  Husband  White  Male  0  0 48  United-States  >50K      2
     29158 38  Private 207202  HS-grad 9  Married-civ-spouse  Machine-op-inspct  Husband  White  Male  0  0 48  United-States  >50K      2

=== Group 16 | size=2 | indices=[25625, 28847] ===
 row_index  0        1     2        3 4                   5             6        7      8     9 10 11 12             13     14  count
     25625 39  Private 30916  HS-grad 9  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2
     28847 39  Private 30916  HS-grad 9  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2

=== Group 17 | size=2 | indices=[10368, 28523] ===
 row_index  0        1      2             3  4                   5               6        7      8     9 10 11 12             13    14  count
     10368 42  Private 204235  Some-college 10  Married-civ-spouse  Prof-specialty  Husband  White  Male  0  0 40  United-States  >50K      2
     28523 42  Private 204235  Some-college 10  Married-civ-spouse  Prof-specialty  Husband  White  Male  0  0 40  United-States  >50K      2

=== Group 18 | size=2 | indices=[17917, 22368] ===
 row_index  0        1      2          3  4              5               6              7      8       9 10 11 12      13     14  count
     17917 44  Private 367749  Bachelors 13  Never-married  Prof-specialty  Not-in-family  White  Female  0  0 45  Mexico  <=50K      2
     22368 44  Private 367749  Bachelors 13  Never-married  Prof-specialty  Not-in-family  White  Female  0  0 45  Mexico  <=50K      2

=== Group 19 | size=2 | indices=[11966, 30846] ===
 row_index  0        1      2             3  4         5             6          7      8       9 10 11 12             13     14  count
     11966 46  Private 133616  Some-college 10  Divorced  Adm-clerical  Unmarried  White  Female  0  0 40  United-States  <=50K      2
     30846 46  Private 133616  Some-college 10  Divorced  Adm-clerical  Unmarried  White  Female  0  0 40  United-States  <=50K      2

=== Group 20 | size=2 | indices=[16298, 17041] ===
 row_index  0        1      2        3 4                   5             6        7      8     9 10 11 12             13     14  count
     16298 46  Private 173243  HS-grad 9  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2
     17041 46  Private 173243  HS-grad 9  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2

=== Group 21 | size=2 | indices=[7921, 21876] ===
 row_index  0        1     2        3 4                   5             6        7      8     9 10 11 12             13     14  count
      7921 49  Private 31267  7th-8th 4  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2
     21876 49  Private 31267  7th-8th 4  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2

=== Group 22 | size=2 | indices=[7054, 22495] ===
 row_index  0                 1     2             3  4                   5             6        7      8     9 10 11 12             13     14  count
      7054 49  Self-emp-not-inc 43479  Some-college 10  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2
     22495 49  Self-emp-not-inc 43479  Some-college 10  Married-civ-spouse  Craft-repair  Husband  White  Male  0  0 40  United-States  <=50K      2

=== Group 23 | size=2 | indices=[2304, 5105] ===
 row_index  0        1     2             3  4              5              6              7                   8     9 10 11 12             13     14  count
      2304 90  Private 52386  Some-college 10  Never-married  Other-service  Not-in-family  Asian-Pac-Islander  Male  0  0 35  United-States  <=50K      2
      5105 90  Private 52386  Some-college 10  Never-married  Other-service  Not-in-family  Asian-Pac-Islander  Male  0  0 35  United-States  <=50K      2

In [23]:
# 移除完全重複的資料列，保留唯一紀錄
data = data.drop_duplicates()

In [24]:
# 計算重複筆數
data.duplicated().sum()

np.int64(0)

In [32]:
# 看看資料有幾筆、幾個欄位
data.shape

(32561, 15)