In [3]:
import pandas as pd

data = pd.read_csv("adult.test.csv")

In [4]:
data.shape# 看看資料有幾筆、幾個欄位

(16281, 15)

In [5]:
# 設定欄位名稱
columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
    'hours-per-week', 'native-country', 'calss'
]
data.columns = columns
data.duplicated().sum()

np.int64(5)

In [6]:
data = data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
data = data.apply(
    lambda x: x.str.replace(r'\s+', ' ', regex=True).str.strip() if x.dtype == "object" else x
)

In [8]:
numeric_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
data[numeric_cols] = data[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [14]:
df_raw = pd.read_csv(CSV, header=None, na_filter=False, dtype=str)
ncol = df_raw.shape[1]
all_cols = list(range(ncol))
CSV = "adult.test.csv"
import numpy as np
all_cols = list(range(df_raw.shape[1]))
vc = df_raw.value_counts().reset_index(name="count")
dups = vc[vc["count"] > 1].copy()
dups["group_id"] = np.arange(1, len(dups) + 1)

dup_groups_members = (
    df_raw.reset_index(names="row_index")
          .merge(dups, on=all_cols, how="inner")
          .sort_values(["group_id", "row_index"], kind="mergesort")
)

dup_groups_summary = (
    dup_groups_members
    .groupby("group_id", as_index=False)
    .agg(
        group_size=("row_index", "size"),
        indices=("row_index", lambda s: list(s))
    )
)
n_dup_all = int(dup_groups_members.shape[0])
n_dup_excess = int(df_raw.duplicated(keep='first').sum())
n_groups = int(dup_groups_summary.shape[0])
sum_group_sizes = int(dup_groups_summary["group_size"].sum())

print("A) 重複列（群內所有列皆計） n_dup_all =", n_dup_all)
print("B) 多出來的列（每組 k 計 k-1） n_dup_excess =", n_dup_excess)
print("C) 重複群組數 n_groups =", n_groups)
print("C') 各組 group_size 加總 =", sum_group_sizes, "(應等於 A)")
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 160)

for gid, sub in dup_groups_members.groupby("group_id", sort=True):
    idxs = sub["row_index"].tolist()
    print(f"\n=== Group {gid} | size={len(sub)} | indices={idxs} ===")
    # 列出該組的每一列（移除 group_id 欄，保留原始各欄與 row_index）
    print(sub.drop(columns=["group_id"]).to_string(index=False))

A) 重複列（群內所有列皆計） n_dup_all = 10
B) 多出來的列（每組 k 計 k-1） n_dup_excess = 5
C) 重複群組數 n_groups = 5
C') 各組 group_size 加總 = 10 (應等於 A)

=== Group 1 | size=2 | indices=[7022, 13849] ===
 row_index  0        1      2          3  4         5                  6              7      8     9 10 11 12             13      14  count
      7022 30  Private 180317  Assoc-voc 11  Divorced  Machine-op-inspct  Not-in-family  White  Male  0  0 40  United-States  <=50K.      2
     13849 30  Private 180317  Assoc-voc 11  Divorced  Machine-op-inspct  Not-in-family  White  Male  0  0 40  United-States  <=50K.      2

=== Group 2 | size=2 | indices=[9250, 11213] ===
 row_index  0        1     2          3  4              5             6              7      8       9 10 11 12             13      14  count
      9250 29  Private 36440  Bachelors 13  Never-married  Adm-clerical  Not-in-family  White  Female  0  0 40  United-States  <=50K.      2
     11213 29  Private 36440  Bachelors 13  Never-married  Adm-clerical  Not-in-family  White  Female  0  0 40  United-States  <=50K.      2

=== Group 3 | size=2 | indices=[489, 865] ===
 row_index  0        1      2          3  4              5               6              7      8     9 10 11 12             13      14  count
       489 24  Private 194630  Bachelors 13  Never-married  Prof-specialty  Not-in-family  White  Male  0  0 35  United-States  <=50K.      2
       865 24  Private 194630  Bachelors 13  Never-married  Prof-specialty  Not-in-family  White  Male  0  0 35  United-States  <=50K.      2

=== Group 4 | size=2 | indices=[3901, 15961] ===
 row_index  0             1      2     3 4              5                6          7      8     9 10 11 12             13      14  count
      3901 18  Self-emp-inc 378036  12th 8  Never-married  Farming-fishing  Own-child  White  Male  0  0 10  United-States  <=50K.      2
     15961 18  Self-emp-inc 378036  12th 8  Never-married  Farming-fishing  Own-child  White  Male  0  0 10  United-States  <=50K.      2

=== Group 5 | size=2 | indices=[1320, 11190] ===
 row_index  0        1     2          3  4                   5                6        7      8     9 10 11 12             13      14  count
      1320 37  Private 52870  Bachelors 13  Married-civ-spouse  Exec-managerial  Husband  White  Male  0  0 40  United-States  <=50K.      2
     11190 37  Private 52870  Bachelors 13  Married-civ-spouse  Exec-managerial  Husband  White  Male  0  0 40  United-States  <=50K.      2

In [15]:
data = data.drop_duplicates()

In [16]:
data.duplicated().sum()

np.int64(0)

In [18]:
data.shape# 看看資料有幾筆、幾個欄位

(16276, 15)

In [20]:
data.to_csv("adult_test_no_duplicates.csv", index=False)